//colors
$_red: rgb(255, 67, 67);
$_red1: rgb(255, 67, 67, 0.5);
$_red2: rgb(231, 20, 20);
$_red3: rgb(185, 12, 12, 0.8);
$_white: #fff;
$_blue: rgb(53, 60, 101);
$_blue1: rgb(44, 49, 84);
$_blue2: rgb(37, 43, 73, 0.8);
$_gray: rgb(128, 128, 128);
$_gray1: rgb(186, 187, 197);
$_gray2: rgb(101, 105, 128);
$_white1: #E5E5E5;
$_grey3: #6C7279;
$_black: #000;
//fonts
$_font_family: "Raleway";
$_font_h1: 4rem;
$_font_h2: 2,35rem;
$_font_h3: 1,875rem;
$_font_h4: 1,5rem;
$_font_h5: 1,125rem;
$_font_h6: 0,8125rem;
$_font_weight1: 800;
$_font_weight2: 400;
$_font_weight3: 200;
$_font_weight4: 500;
