.testimonials {
  width: 100%;
  display: flex;
}

.slide {
  width: 100%;
  display: flex;
}

.image {
  width: 50%;
}

.image img {
  width: 100%;
  height: auto;
}

.text {
  width: 50%;
  background-color: #f0f0f0; /* Цвет фона текста */
  display: flex;
  justify-content: center;
  align-items: center;
}

.text p {
  text-align: center;
}